<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497512590176-rq90n35im3tej6ks21aq68gkvb1n0231.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497512590176-rq90n35im3tej6ks21aq68gkvb1n0231</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>497512590176-1c2scit1qq1quhude1iclqonr3p01468.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB94dUYY9pXBlkTPbE69bdXfJ32i1z8dS4</string>
	<key>GCM_SENDER_ID</key>
	<string>497512590176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.in.sportistan.sportistanAdmin</string>
	<key>PROJECT_ID</key>
	<string>isportistan</string>
	<key>STORAGE_BUCKET</key>
	<string>isportistan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497512590176:ios:4ec2230067043c4f960c05</string>
</dict>
</plist>