<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39436193342-h9pnv2qf1hm184mnu930hcqotujhjkut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39436193342-h9pnv2qf1hm184mnu930hcqotujhjkut</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>39436193342-f51m9dcpa43bad00u02lu2ggr593nd89.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRr1EZfSgJavW_hfBYZWXh3EkGkPFmZCc</string>
	<key>GCM_SENDER_ID</key>
	<string>39436193342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.in.sportistan.sportistanAdmin</string>
	<key>PROJECT_ID</key>
	<string>yoursportistan</string>
	<key>STORAGE_BUCKET</key>
	<string>yoursportistan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39436193342:ios:494f8cb4b01427c2e0cb6f</string>
</dict>
</plist>